In [194]:
import pandas as pd
import numpy as np

In [195]:
from sklearn.model_selection import train_test_split,cross_val_score

In [196]:
from sklearn.metrics import r2_score

In [197]:
from sklearn.ensemble import RandomForestRegressor 
from sklearn.decomposition import PCA

In [198]:
TRAIN_DATASET_PATH ='train.csv' 
TEST_DATASET_PATH ='test.csv'

In [199]:
train_df = pd.read_csv(TRAIN_DATASET_PATH)
train_df.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [200]:
train_df.isna().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       2113
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     4798
Helthcare_2         0
Shops_1             0
Shops_2             0
Price               0
dtype: int64

In [201]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [202]:
train_df.nunique()

Id               10000
DistrictId         205
Rooms                9
Square           10000
LifeSquare        7887
KitchenSquare       58
Floor               33
HouseFloor          44
HouseYear           97
Ecology_1          129
Ecology_2            2
Ecology_3            2
Social_1            51
Social_2           142
Social_3            30
Healthcare_1        79
Helthcare_2          7
Shops_1             16
Shops_2              2
Price            10000
dtype: int64

### Преобразование признаков

In [203]:
train_df.replace({'Ecology_2':{'A': 0, 'B': 1}, 'Ecology_3':{'A': 0, 'B': 1}, 'Shops_2':{'A': 0, 'B': 1}}, inplace=True)

In [204]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  int64
 11  Ecology_3      10000 non-null  int64
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  int64
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(12)
memory usage: 1.5 MB

In [205]:
X_train, X_test, y_train, y_test = train_test_split(train_df.set_index('Id').drop(['LifeSquare', 'Healthcare_1', 'Price'], axis = 'columns'),
                                                    train_df['Price'], test_size=0.2, random_state=42)
X_train

,DistrictId,Rooms,Square,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2
Id,,,,,,,,,,,,,,,,
12473,58,1.0,65.271225,1.0,3,1.0,1977,0.437885,1,1,23,5735,3,0,5,1
14050,146,2.0,45.091598,1.0,5,18.0,2017,0.236108,1,1,16,3893,27,3,10,1
3779,5,1.0,34.463114,5.0,3,5.0,1960,0.150818,1,1,16,3433,4,4,5,1
3762,90,3.0,61.931107,5.0,4,5.0,1966,0.265089,1,1,37,5288,0,3,2,1
358,1,1.0,42.670840,1.0,8,17.0,1977,0.007122,1,1,1,264,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10013,30,2.0,62.219340,1.0,4,2.0,2015,0.000078,1,1,22,6398,141,3,23,1
6431,25,3.0,85.790813,1.0,9,25.0,2018,0.069753,1,1,53,13670,4,1,11,1
14239,1,3.0,83.225854,1.0,13,17.0,1977,0.007122,1,1,1,264,0,0,1,1
5487,94,3.0,51.354934,5.0,1,9.0,1973,0.127376,1,1,43,8429,3,3,9,1
2135,2,2.0,88.364677,11.0,12,16.0,1993,0.035145,1,1,42,9292,3,0,3,1

### Модель без пропусков

In [261]:
rfr = RandomForestRegressor( max_depth=15, n_estimators=300,random_state=42)
rfr.fit(X_train, y_train)
train_predict_1 = rfr.predict(X_test)
r2_score(y_test, train_predict_1)

0.7187364885917144

### Применяем метод главных компонент

In [247]:
from sklearn.preprocessing import StandardScaler
scaller = StandardScaler(with_mean=False)

X_train_scale = scaller.fit_transform(X_train)
X_test_scale = scaller.fit_transform(X_test)
pca = PCA(n_components=11, random_state=42)
pca_train_df = pca.fit_transform(X_train)
pca_test_df = pca.transform(X_test)
np.sum(pca.explained_variance_ratio_)

0.9999999999905356

### Модель на основе pca

In [272]:
rfr_pca = RandomForestRegressor(max_depth=60, n_estimators=400,random_state=42)
rfr_pca.fit(pca_train_df, y_train)
train_predict_pca = rfr_pca.predict(pca_test_df)
r2_score(y_test, train_predict_pca)

0.7030819431660633

In [346]:
test_df = pd.read_csv(TEST_DATASET_PATH)
test_df.isnull().sum()

Id                  0
DistrictId          0
Rooms               0
Square              0
LifeSquare       1041
KitchenSquare       0
Floor               0
HouseFloor          0
HouseYear           0
Ecology_1           0
Ecology_2           0
Ecology_3           0
Social_1            0
Social_2            0
Social_3            0
Healthcare_1     2377
Helthcare_2         0
Shops_1             0
Shops_2             0
dtype: int64

In [347]:
test_df.replace({'Ecology_2':{'A': 0, 'B': 1}, 'Ecology_3':{'A': 0, 'B': 1}, 'Shops_2':{'A': 0, 'B': 1}}, inplace=True)

### Предсказание на тестовых данных

In [381]:
test_predict = rfr.predict(test_df.set_index('Id').drop(['LifeSquare', 'Healthcare_1'], axis = 'columns'))
test_df['Price'] = test_predict

In [382]:
test_df[['Id','Price']].to_csv('rfr.csv', index=False)

 ### Обучение на всех данных

In [383]:
# на всех данных
rfr = RandomForestRegressor( max_depth=15, n_estimators=200,random_state=42)
rfr.fit(train_df.drop(['LifeSquare', 'Healthcare_1', 'Price'], axis = 'columns'), train_df['Price'])

RandomForestRegressor(max_depth=15, n_estimators=200, random_state=42)

### Предсказание на тестовых

In [388]:
test_predict_ = rfr.predict(test_df.drop(['LifeSquare', 'Healthcare_1', 'Price'], axis = 'columns'))
test_df['Price'] = test_predict_

In [389]:
test_df[['Id','Price']].to_csv('rfr_all.csv', index=False)